<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<location path="Testing/View">
		<system.web>
			<authorization>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Modules">
		<system.web>
			<authorization>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Views">
		<system.web>
			<authorization>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.web>
		<pages validateRequest="false"/>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5"  requestValidationMode="2.0" executionTimeout="20" requestPathInvalidCharacters="" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
