.grid
{
	min-height:24px;
	overflow:hidden;
	font:12px arial;
	position:relative;
	float:left;
	width:300px;
	margin:12px 0px 12px 18px;
}
.grid, .grid table
{
	border-collapse:collapse;
}
.grid .caption, .grid .body,.grid .foot
{
	border-bottom:solid 1px silver;
}
.grid table td div.header_cell_content
{
	border:0px;
	padding:1px 4px 1px 4px;
}
.grid .header_cell_content
{	  
	white-space:nowrap;
	overflow:hidden;
	line-height:20px;	
}
.grid .header_table, .grid .body_table
{
	table-layout:fixed;
	width:100%;
}
.grid .header_table, .grid .body_table tr td
{
	white-space:nowrap;
}
.grid .header_container
{
	width:100%;
}
.grid .header_cell
{
	width:70px;
	border-left:solid 1px silver;
	border-right:solid 1px silver;
	background:#EBEADB;
}
.grid .header_cell_dragger
{
	border-right: solid 1px white;
	line-height:20px;
}
.grid .body
{
	width:100%;
	height:120px;
	overflow:auto;
	position:relative;
}
.grid .caption
{
	
}
.grid .body td
{
    border-bottom:solid 1px #E0DEDE;
    width:80px;
}
.grid .body table td
{
	padding:0px;
	margin:0px;
	border:solid 1px white;
}
.grid .title table
{
	width:100%;
	border-bottom:solid 2px #FF0000;
}
.grid .title table td
{
	padding:4px 6px 4px 6px;
	line-height:16px;
}
.grid .title table td.more,.grid .title table td.more *
{
	text-align:right;
	color:#FF0000;
	font-family:Verdana,Geneva,sans-serif;
	font-size:9px;
	font-weight:bold;
}

/* Editable Rect */
.grid div.editablerect
{
	height:20px;
}
.grid div.editablerect div.label, div.editablerect div.dropdown_box
{
    line-height:18px;
	text-align:left;
	padding:0px 4px 0px 4px;
}
.grid .editablerect input, .editablerect .editbox
{
	border:0px;
	background:white;
	font:12px arial;
	line-height:18px;
	height:18px;
	height:100%;
	width:100%;
	padding:0px 4px 0px 4px;
}
.grid .simple_menu_item
{
	line-height:18px;
}
.grid .simple_menu
{
    background:white;
}
.grid .editablerect .label
{
	display:;
    width: 100%;
    height: 100%;
	overflow:hidden;
	left: 0px;
	top: 0px;
	position: absolute;

}
.grid .editablerect .checkbox
{
}

.grid .editablerect a, .grid .editablerect a:hover
{
	text-decoration:none;
	line-height:18px;
}
.grid .editablerect a
{
	color:Black;
}
.grid .editablerect a:hover
{
	color:#B16767;
}

/* Specified Style */
.grid .body
{
	overflow:hidden;
}
.grid .body_table
{
}
.grid .body td.caption
{
	position:relative;
	width:226px;
}
.grid .body td
{
	position:relative;
	overflow:hidden;
	padding:0px 14px 0px 14px;
}
.grid .body td.articleupdate
{
	position:relative;
}
.grid .body td.articleupdate .editablerect .label
{
	color:gray;
	width:100%;
}

