@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        @Html.Partial("~/Views/Include.cshtml")
        @RenderSection("CSS", false)
        @RenderSection("JS", false)
    </head>
    <body class="debug">
        @RenderBody()        
    </body>
</html>
